<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<meta charset="UTF-8">
<title>todo</title>


</head>
<body>

	<h1>todo 목록</h1>

	<a th:href="@{/Todo/register}">
		<button>ToDo등록【NEW】</button>
	</a>

	<div th:if="!${todo.size()}">
		<!--데이터 0인경우 -->
		<p>검색한 결과가 없습니다.！</p>
	</div>


	<table th:if="${todo.size()}" border="1">
		<!--디비에 데이터 있는 경우 -->
		<!--1개이상 -->
		<thead>
			<tr>
				<th>ID#</th>
				<th>할인</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="home:${result}" >
				<!-- each;DB정보를 보낼때까지 반복 -->
				<td th:text="${home.id}"></td>
				<td th:text="${home.task}"></td>

				<td><a th:href="@{/Todo/detail}">
						<button>상세보기</button>
				</a></td>

				<td><a th:href="@{/Todo/update}"><button>수정</button></a></td>
				<td>

					<form th:action="@{/Todo/delete}"th:method="delete">

						<!-- public delete에access할경우 -->
						<!-- Destry버튼을 누르면players/id 에 매핑된 메소드 호출-->
						<input type= id="task" name="content" />
						<button input type="submit">삭제</button>
					</form>

				</td>
			</tr>
		</tbody>

	</table>
</body>
</html>